body {
;	height					: 100vh
;	margin					: 0
;	display					: grid
;	grid-template-rows		: auto 1fr auto
;	grid-template-columns	: auto 1fr auto
}

header {
;	border-bottom			: 1px solid black
;	grid-column				: 1 / 4
}

footer {
;	border-top				: 1px solid black
;	grid-column				: 1 / 4
}

nav {
;	border-right			: 1px solid black
;	width					: 256px
;	overflow				: scroll
;	padding					: 8px
}

aside {
;	border-left				: 1px solid black
;	width					: 256px
;	overflow				: scroll
;	padding					: 8px
}

textarea {
;	resize					: none
;	border					: none
}

